# Backup dirs
backup_*/

# Production dirs
/data/
/images/

# Ignore static pages saved by devtools using copy("<!DOCTYPE html>\n" + document.documentElement.outerHTML)
# by way of a script that copies assets and does fixup
# this well be contents pushed by `gh-pages -d experted pages
# TODO DELME not a thing, we are building gh-pages in a sister directory of the project
# /exported_pages

# do not track the compiled binary
artistapp

# Ignore vim swap files
.*.s[a-w][a-z]

#
.ignore
.fdignore

# should be in .git/info/exclude
/cabinet_of_wonders/

# gh-pages js thing stuff
package.json
node_modules/
.aider*
