<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="artist-gallery_files/htmx.min.js"></script>
    <script defer="defer" src="artist-gallery_files/cdn.min.js"></script>

    <link href="artist-gallery_files/daft.css" rel="stylesheet">
    <link href="artist-gallery_files/daft-overrides.css" rel="stylesheet">
    <link href="artist-gallery_files/site-measure.css" rel="stylesheet">
    <link href="artist-gallery_files/main.css" rel="stylesheet">

    <title>Artist Gallery</title>
<style>                      .htmx-indicator{opacity:0}                      .htmx-request .htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}                      .htmx-request.htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}                    </style></head>
<body>


  <header class="container">
    <nav>
      <ul class="title">
        <li><strong>Artist Gallery</strong></li>
      </ul>
      <ul class="links">
        <li><a href="index.html">Add Artist</a></li>
        <li><a href="artist-gallery.html">Gallery</a></li>
        <li><a href="https://www.artbreeder.com/browse?modelNames=collage.&amp;sort=trending" target="_blank">Artbreeder</a></li>
      </ul>
    </nav>
  </header>

  <div class="wide-where-grid-goes">
    <div class="grid-container" id="gallery-grid">


<div class="grid-item" id="artist-1" x-data="{
        showActions: false,
        artist: {
            id: '1',
            name: 'Oscar de la Renta',
            desc: 'De la Renta became internationally known in the 1960s as one of the couturiers who dressed Jacqueline Kennedy.',
            thumb: '/images/1.jpg',
            google: 'https://www.google.com/search?q=art+by+Oscar+de+la+Renta'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/1.jpg" alt="Oscar de la Renta">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Oscar+de+la+Renta">Oscar de la Renta</a>
    </h3>
    <p class="grid-item-description">De la Renta became internationally known in the 1960s as one of the couturiers who dressed Jacqueline Kennedy.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/1" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/1" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-2" x-data="{
        showActions: false,
        artist: {
            id: '2',
            name: 'Ilya Kuvshinov',
            desc: 'Ilya Kuvshinov  Russian illustrator based in Tokyo. character designs for Ghost in the Shell: SAC 2045 (series, bad reviews) and The Wonderland (2019)',
            thumb: '/images/2.jpg',
            google: 'https://www.google.com/search?q=art+by+Ilya+Kuvshinov'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/2.jpg" alt="Ilya Kuvshinov">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Ilya+Kuvshinov">Ilya Kuvshinov</a>
    </h3>
    <p class="grid-item-description">Ilya Kuvshinov  Russian illustrator
 based in Tokyo. character designs for Ghost in the Shell: SAC 2045
(series, bad reviews) and The Wonderland (2019)
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/2" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/2" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-3" x-data="{
        showActions: false,
        artist: {
            id: '3',
            name: 'Hayao Miyazaki',
            desc: 'creator of Japanese animated feature films, one of the most accomplished filmmakers in the history of animation.',
            thumb: '/images/3.jpg',
            google: 'https://www.google.com/search?q=art+by+Hayao+Miyazaki'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/3.jpg" alt="Hayao Miyazaki">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Hayao+Miyazaki">Hayao Miyazaki</a>
    </h3>
    <p class="grid-item-description">creator of Japanese animated feature films, one of the most accomplished filmmakers in the history of animation.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/3" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/3" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-4" x-data="{
        showActions: false,
        artist: {
            id: '4',
            name: 'Daniel gerhartz',
            desc: 'born in 1965, a remarkable figure of American Kitsch',
            thumb: '/images/4.jpg',
            google: 'https://www.google.com/search?q=art+by+Daniel+gerhartz'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/4.jpg" alt="Daniel gerhartz">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Daniel+gerhartz">Daniel gerhartz</a>
    </h3>
    <p class="grid-item-description">born in 1965, a remarkable figure of American Kitsch
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/4" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/4" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-5" x-data="{
        showActions: false,
        artist: {
            id: '5',
            name: 'Henry Clive',
            desc: 'American, active 1925-1950, graphic artist and illustrator who created illustrations for The American Weekly and cover series, which were posed for by screen celebrities.',
            thumb: '/images/5.jpg',
            google: 'https://www.google.com/search?q=art+by+Henry+Clive'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/5.jpg" alt="Henry Clive">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Henry+Clive">Henry Clive</a>
    </h3>
    <p class="grid-item-description">American, active 1925-1950, graphic
 artist and illustrator who created illustrations for The American
Weekly and cover series, which were posed for by screen celebrities.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/5" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/5" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-6" x-data="{
        showActions: false,
        artist: {
            id: '6',
            name: 'Frank Xavier Leyendecker',
            desc: 'commercial artist and illustrator. magazine cover art for Vogue, Vanity Fair, and Life, artwork for advertisers.',
            thumb: '/images/6.jpg',
            google: 'https://www.google.com/search?q=art+by+Frank+Xavier+Leyendecker'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/6.jpg" alt="Frank Xavier Leyendecker">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Frank+Xavier+Leyendecker">Frank Xavier Leyendecker</a>
    </h3>
    <p class="grid-item-description">commercial artist and illustrator. magazine cover art for Vogue, Vanity Fair, and Life, artwork for advertisers.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/6" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/6" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-7" x-data="{
        showActions: false,
        artist: {
            id: '7',
            name: 'Ethel Hays',
            desc: 'cartoonist, flapper-themed comic strips, 1920s and 1930s. Art Deco style. In the 1940s and 1950s, children\'s book illustrator.',
            thumb: '/images/7.jpg',
            google: 'https://www.google.com/search?q=art+by+Ethel+Hays'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/7.jpg" alt="Ethel Hays">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Ethel+Hays">Ethel Hays</a>
    </h3>
    <p class="grid-item-description">cartoonist, flapper-themed comic strips, 1920s and 1930s. Art Deco style. In the 1940s and 1950s, children's book illustrator.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/7" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/7" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-8" x-data="{
        showActions: false,
        artist: {
            id: '8',
            name: 'Erté',
            desc: '20th-century Russian-born French artist and designer. fashion, graphic arts, etc.',
            thumb: '/images/8.jpg',
            google: 'https://www.google.com/search?q=art+by+Ert%C3%A9'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/8.jpg" alt="Erté">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Ert%C3%A9">Erté</a>
    </h3>
    <p class="grid-item-description">20th-century Russian-born French artist and designer. fashion, graphic arts, etc.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/8" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/8" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-9" x-data="{
        showActions: false,
        artist: {
            id: '9',
            name: 'George Barbier',
            desc: 'French illustrator of the early 20th century.',
            thumb: '/images/9.jpg',
            google: 'https://www.google.com/search?q=art+by+George+Barbier'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/9.jpg" alt="George Barbier">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+George+Barbier">George Barbier</a>
    </h3>
    <p class="grid-item-description">French illustrator of the early 20th century.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/9" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/9" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-10" x-data="{
        showActions: false,
        artist: {
            id: '10',
            name: 'Tom Bagshaw',
            desc: 'highly rendered digital painting style, portraying women, themes of fantasy, beauty, and mysticism',
            thumb: '/images/10.jpg',
            google: 'https://www.google.com/search?q=art+by+Tom+Bagshaw'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/10.jpg" alt="Tom Bagshaw">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Tom+Bagshaw">Tom Bagshaw</a>
    </h3>
    <p class="grid-item-description">highly rendered digital painting style, portraying women, themes of fantasy, beauty, and mysticism
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/10" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/10" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-11" x-data="{
        showActions: false,
        artist: {
            id: '11',
            name: 'Picasso',
            desc: 'Cubism, Surrealism, Modern art, Picasso\'s Blue Period',
            thumb: '/images/11.jpg',
            google: 'https://www.google.com/search?q=art+by+Picasso'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/11.jpg" alt="Picasso">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Picasso">Picasso</a>
    </h3>
    <p class="grid-item-description">Cubism, Surrealism, Modern art, Picasso's Blue Period
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/11" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/11" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-12" x-data="{
        showActions: false,
        artist: {
            id: '12',
            name: 'kusama',
            desc: 'surrealism, Art Brut, pop art, abstract expressionism',
            thumb: '/images/12.jpg',
            google: 'https://www.google.com/search?q=art+by+kusama'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/12.jpg" alt="kusama">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+kusama">kusama</a>
    </h3>
    <p class="grid-item-description">surrealism, Art Brut, pop art, abstract expressionism
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/12" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/12" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-13" x-data="{
        showActions: false,
        artist: {
            id: '13',
            name: 'Alphonse Mucha',
            desc: 'Czech painter, illustrator, and graphic artist. Art Nouveau, symbolist',
            thumb: '/images/13.jpg',
            google: 'https://www.google.com/search?q=art+by+Alphonse+Mucha'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/13.jpg" alt="Alphonse Mucha">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Alphonse+Mucha">Alphonse Mucha</a>
    </h3>
    <p class="grid-item-description">Czech painter, illustrator, and graphic artist. Art Nouveau, symbolist
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/13" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/13" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-14" x-data="{
        showActions: false,
        artist: {
            id: '14',
            name: 'Thomas Kinkade',
            desc: 'American painter of popular realistic, pastoral, and idyllic subjects.',
            thumb: '/images/14.jpg',
            google: 'https://www.google.com/search?q=art+by+Thomas+Kinkade'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/14.jpg" alt="Thomas Kinkade">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Thomas+Kinkade">Thomas Kinkade</a>
    </h3>
    <p class="grid-item-description">American painter of popular realistic, pastoral, and idyllic subjects.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/14" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/14" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-15" x-data="{
        showActions: false,
        artist: {
            id: '15',
            name: 'Andrew Atroshenko',
            desc: 'figurative art portrays beautiful women, music and dance. Romantic impressionist.',
            thumb: '/images/15.jpg',
            google: 'https://www.google.com/search?q=art+by+Andrew+Atroshenko'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/15.jpg" alt="Andrew Atroshenko">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Andrew+Atroshenko">Andrew Atroshenko</a>
    </h3>
    <p class="grid-item-description">figurative art portrays beautiful women, music and dance. Romantic impressionist.
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/15" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/15" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-16" x-data="{
        showActions: false,
        artist: {
            id: '16',
            name: 'James Jean',
            desc: 'bold, vibrant hues',
            thumb: '/images/16.jpg',
            google: 'https://www.google.com/search?q=art+by+James+Jean'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/16.jpg" alt="James Jean">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+James+Jean">James Jean</a>
    </h3>
    <p class="grid-item-description">bold, vibrant hues
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/16" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/16" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>



<div class="grid-item" id="artist-17" x-data="{
        showActions: false,
        artist: {
            id: '17',
            name: 'Mark Ryden',
            desc: 'painter of the Lowbrow art movement. pop surrealism',
            thumb: '/images/17.jpg',
            google: 'https://www.google.com/search?q=art+by+Mark+Ryden'
        }
     }">
  <div class="grid-item-image">
    <img :src="artist.thumb" :alt="artist.name" loading="lazy" src="artist-gallery_files/17.jpg" alt="Mark Ryden">
  </div>
  <div class="grid-item-content">
    <h3 class="grid-item-title">
      <input type="checkbox" class="artist-checkbox" :checked="$store.promptStore.selectedArtists.some(a =&gt; a.id === artist.id)" @change="$store.promptStore.toggle(artist)">
      <a :href="artist.google" target="_blank" href="https://www.google.com/search?q=art+by+Mark+Ryden">Mark Ryden</a>
    </h3>
    <p class="grid-item-description">painter of the Lowbrow art movement. pop surrealism
      <a href="#" @click.prevent="showActions = !showActions" class="action-trigger">⋯</a>
    </p>
    <div x-show="showActions" @click.away="showActions = false" class="action-links" style="display: none;">
      <a href="#edit-section" hx-get="/artists/edit/17" hx-target="#edit-form-target" class="action-link">edit</a><br>
      <a href="#" hx-post="/artists/delete/17" hx-target="closest .grid-item" hx-swap="outerHTML" class="action-link" style="color: red;">delete</a>
    </div>
  </div>
</div>


    </div>
  </div>

  <div class="container">

    <section id="edit-section" style="padding: 2rem; background: #f9f9f9; border-top: 1px solid #ccc; margin-top: 2rem;">
        <h3>Edit Artist Details</h3>
        <div id="edit-form-target">
            <p>Click "edit" on a card above to load its data here.</p>
        </div>
    </section>


    <div x-data="" @artist-deleted.window="$store.promptStore.remove($event.detail.id)">

  <div style="text-align:center; padding:1rem;">
    <button class="outline" @click="$store.promptStore.clear()">Clear All</button>
    <button class="contrast" @click="$store.promptStore.copyPrompt()">Copy Checked</button>
  </div>

  <div style="display:flex; gap:1rem; align-items:flex-start; min-height: 720px;">


    <div id="art-by-output" style="flex:1; padding:1rem; background:#f0f0f0;">

      <template x-for="(artist, index) in $store.promptStore.selectedArtists" :key="artist.id">
        <div style="display:flex; align-items:center; margin-bottom:0.5rem;">


          <input type="radio" name="focusedArtist" :checked="$store.promptStore.focusedId === artist.id" @change="$store.promptStore.focusedId = artist.id" style="margin-right:0.4rem;">


          <input type="checkbox" x-model="artist.checked" style="margin-right:0.5rem; transform:scale(1.2);">

          <a style="flex:1; display:block;" :href="'#artist-' + artist.id" x-text="'art by ' + artist.name + ','"></a>

          <button class="secondary" @click="$store.promptStore.moveUp(index)" :disabled="index === 0" style="margin-left:0.5rem;">↑</button>

          <button class="secondary" @click="$store.promptStore.moveDown(index)" :disabled="index === $store.promptStore.selectedArtists.length - 1" style="margin-left:0.25rem;">↓</button>

          <button class="secondary" @click="$store.promptStore.remove(artist.id)" style="margin-left:0.25rem; color:red;">X</button>
        </div>
      </template>
    </div>


    <div style="width: 460px; display: none;" x-show="$store.promptStore.focusedArtist" x-transition="">

      <img :src="$store.promptStore.focusedArtist?.thumb" style="width:120px;" src="">

      <strong x-text="$store.promptStore.focusedArtist?.name"></strong>
      <p x-text="$store.promptStore.focusedArtist?.desc"></p>

      <a :href="$store.promptStore.focusedArtist?.google" target="_blank" href="">
        Google artist
      </a>
    </div>

  </div>
</div>
</div>



<script>
document.addEventListener('alpine:init', () => {
  Alpine.store('promptStore', {
    selectedArtists: [],
    focusedId: null,

    get focusedArtist() {
      return this.selectedArtists.find(a => a.id === this.focusedId)
    },

    toggle(artist) {
      const idx = this.selectedArtists.findIndex(a => a.id === artist.id)
      if (idx === -1) {
        this.selectedArtists.push({ ...artist, checked: true })
        if (!this.focusedId) this.focusedId = artist.id
      } else {
        this.selectedArtists.splice(idx, 1)
        if (this.focusedId === artist.id) {
          this.focusedId = this.selectedArtists.length ? this.selectedArtists[0].id : null
        }
      }
    },

    remove(id) {
      this.selectedArtists = this.selectedArtists.filter(a => a.id !== id)
      if (this.focusedId === id) {
        this.focusedId = this.selectedArtists.length ? this.selectedArtists[0].id : null
      }
    },

    moveUp(i) {
      if (i > 0) [this.selectedArtists[i-1], this.selectedArtists[i]] = [this.selectedArtists[i], this.selectedArtists[i-1]]
    },

    moveDown(i) {
      if (i < this.selectedArtists.length - 1) [this.selectedArtists[i], this.selectedArtists[i+1]] = [this.selectedArtists[i+1], this.selectedArtists[i]]
    },

    clear() {
      this.selectedArtists = []
      this.focusedId = null
    },

    copyPrompt() {
      const text = this.selectedArtists
        .filter(a => a.checked)
        .map(a => `art by ${a.name},`)
        .join('\n')
      navigator.clipboard.writeText(text)
    }
  })
})
</script>


</body></html>
